header .container { min-height:90px;}
header.scrollING {  background: rgba(256,256,256,0.9);
  border-bottom: 1px solid #eaeaea;
  color:#222 !important;  
-webkit-transition: background 0.7s  ease-in;
  -moz-transition: background 0.7s  ease-in;
  -o-transition: background 0.7s  ease-in;
  transition: background 0.7s  ease-in;}
header .navbar-brand {
	text-align: left; /* padding:10px; */
}
.navbar-brand .logo-mob {
	display: none;
}
.scrollING .navbar-brand .logo-mob {
	display: block;
	margin: 0 auto;
}



header #menu {
	font-size: 13px;
	padding:20px 0 0;
	margin-left: 10px; list-style:none;
}


#menu > li {	display: inline-block;	position: relative; }

header.scrollING #menu > li > a { color:#222; }

#menu > li > a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	text-align: left;
	padding: 8px 16px;
}
#menu > li:hover > a {
	color: #DE1818;
	text-decoration: none;
}



#menu > ul > li > ul {
	display: none;
}

#menu li > a > i {
	margin: 0 -5px 0 10px;
}


/* sub-menu */
#menu > li > .sub-menu {
	display: block;
	position: absolute;
	left: 5;
	margin: 0;
	padding: 0;
	display: none;
	z-index: 99;
	background-color: transparent;
	box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	overflow: visible;
	padding-top: 0px;
	width:200px;
}
#menu li .sub-menu  li {
	float: left;
	margin: 0;
	text-align: left;
	width: 100%;
	padding: 0;
	list-style:none; 
}
.sub-menu li > ul {
	display: none;
}

.sub-menu > li > a {
	display: block;
	width: 100%;
	padding: 11px 15px 13px 20px;
	color: #43474d;
	background-color: #fff;
}
#menu .sub-menu > li:hover > a {
	background-color: #43474D;
	text-decoration: none;
	color: #fff;
}
.sub-menu > li > a > i {
	float: right;
}
.sub-menu li ul.sub-sub-menu {
	
	top: 0px;
	left: 200px;
	margin: 0;
	padding: 0;
	z-index: 999999;
}
.sub-menu li ul.sub-sub-l-menu {
	position: absolute;
	top: 0px;
	right: 200px;
	margin: 0;
	padding: 0;
	z-index: 999999;
}



/* MORE DROP DOWN MENU */

#menu li.hideshow ul{position:absolute;display:none;right:0px;}
#menu > li.hideshow  {
    background: none repeat scroll 0 0 #0cb9b0;
    position: relative;
    white-space: nowrap;
}
#menu > li.hideshow > a{ font-size:13px; color:#fff;}




#menu .sub_item { padding:0; width:200px; background:#fff; }

#menu .sub_item   li { width:100%; display:block; clear: both; text-align:left;  }
#menu .sub_item   li  a{ width:100%; padding:10px 20px; display:block; color:#43474D; border-bottom:1px solid #eee;}



#menu  .sub_item  > li > .sub-menu { float:left; clear:both;
	display: block;
	position: static;
	left: 5;
	margin: 0; top:0;
	padding: 0;
	display: none;
	z-index: 99;
	background-color: transparent;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	overflow: visible;
	padding-top: 0px;
	width:100%;
}

#menu  .sub_item  > li > .sub-menu > li a { padding-left:35px; }

/* ================== Sub Menu 2 =======================*/

#menu > li > .sub-menu > li  { position:relative; }

/* sub-menu */
#menu > li > .sub-menu > li > .sub-menu2 {
	display: block;
	position: absolute;
	left:200px;
	top:0;
	margin: 0;
	padding: 0;
	display: none;
	z-index: 99;
	background-color: transparent;
	box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	overflow: visible;
	padding-top: 0px;
	width:200px;
}

#menu li .sub-menu2  li {
	float: left;
	margin: 0;
	text-align: left;
	width: 100%;
	padding: 0;
	list-style:none; 
}
.sub-menu2 li > ul {
	display: none;
}

.sub-menu2 > li > a {
	display: block;
	width: 100%;
	padding: 11px 15px 13px 20px;
	color: #43474d;
	background-color: #fff;
}
#menu .sub-menu2 > li:hover > a {
	background-color: #43474D;
	text-decoration: none;
	color: #fff;
}
.sub-menu2 > li > a > i {
	float: right;
}





