html{
  position: relative;
  min-height: 100%;
  body{
    font-family: 'Montserrat', sans-serif;
    min-height: 75rem;
    padding-top: 78px;
    margin-bottom: 60px;
    background-color: $color-silver-01;
    color: $color-silver-02;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
